# Node modules
node_modules/
package-lock.json
cypress-project/package-lock.json

# Cypress test results
cypress/screenshots/
cypress/videos/

# Allure results and reports
allure-results/
allure-report/

# Logs
npm-debug.log
yarn-error.log

# IDE/editor files
.vscode/
.DS_Store
.env
